# Ignore everything
*

# Except the following files
!.gitignore
!.aerospace.toml
!.posh.toml
!.wezterm.lua
!.zshrc
!setup.sh
!.config/nvim
.config/nvim/lazy-lock.json
!.config/ghostty
!.gitconfig
!.profile
!dev/vimNotes.md
