[user]
	email = assisr.matheus@gmail.com
	name = AssisrMatheus
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	editor = nvim
